@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:Support@nventorium.com">Support@nventorium.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@nventorium.com">Marketing@nventorium.com</a>
</address>
