@{
    ViewData["Title"] = "Inventorium";
}

    <div class="row">
        <h2>Track the 'Where' and 'Why' of your parts inventory</h2>

        <p>
            A maker needs a large collection of parts to build out and test their inspirations.  There comes a point when one cannot track all
            the parts one has purchased in ones head leading to delays waiting to find parts, difficulty identifying parts and wasteful purchases of duplicate parts.
        </p>

        <p>
            Enter Inventorium!
        </p>

        <p>
            Inventorium makes it easy to know what is in your inventory and why it is there.
            Parts can be categorized, identified, and located by their rack and bin number.  They can also be assigned as assets for specific projects.
        </p>

        <p>
            When you need a part, simply ask.
            Inventorium will tell you how many you have on hand, where to find them and whether they are already
            committed to another project or available for your use.
        </p>

        <a asp-area="" asp-controller="Projects" asp-action="Create">Start a Project</a> | 
        <a asp-area="" asp-controller="Items" asp-action="Create">Add a Part</a>
    </div>
